[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

alembic = "*"
"beautifulsoup4" = "*"
blessed = "*"
cement = "*"
click = "*"
colorama = "*"
docker-py = "*"
dockerpty = "*"
docopt = "*"
docutils = "*"
flask = "*"
flask-migrate = "*"
flask-restless = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
itsdangerous = "*"
"jinja2" = "*"
jmespath = "*"
mako = "*"
markupsafe = "*"
mimerender = "*"
pathspec = "*"
"pprint36" = "*"
"psycopg2" = "*"
"pyasn1" = "*"
python-dateutil = "*"
python-editor = "*"
python-mimeparse = "*"
pyyaml = "*"
requests = "*"
rsa = "*"
semantic-version = "*"
sqlalchemy = "*"
tabulate = "*"
termcolor = "*"
wcwidth = "*"
websocket-client = "*"
werkzeug = "*"
wtforms = "*"
gunicorn = "*"


[requires]

python_version = "3.7"
