click==6.7
Flask==0.12.2
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mimerender==0.6.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
python-mimeparse==1.6.0
six==1.11.0
SQLAlchemy==1.1.15
Werkzeug==0.12.2
WTForms==2.1
