{% extends "base.html" %}
{% block content %}
<div>
    <div class="page-header">
        <h2>Tunes</h2>
    </div>
    <table class="table table-striped" id="owned_stock_table">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for tunes in all_tunes %}
            <tr>
                <td><a href="{{ tunes.media_url }}" target="_blank">{{ tunes.title }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}  